.editingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 100px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: fit-content;
  background-color: rgba(84, 84, 118, 0.9);
  border: 1px solid rgb(35, 35, 112);
  z-index: 1;

  input {
    width: 350px;
    resize: vertical;
    outline: none;
    height: 60px;
  }

  h2 {
    color: white;
  }

  button {
    color: white;
    height: 64px;
    background-color: rgba(35, 35, 112, 0.9);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

}

.hidEditingBox {
  display: none;
}