.container {
  margin: 40px auto;
  width: 800px;
  height: fit-content;
  padding-bottom: 25px;
  border-radius: 8px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);

  .containerTop {
    background-color: rgba(35, 35, 112, 0.9);
    display: flex;
    justify-content: center;
    gap: 18px;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    h1 {
      font-size: 40px;
    }

    .itemCount {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 14px;
      gap: 5px;
    }
  }
}

.hideContainer {

  input,
  button {
    z-index: -1;
  }
}